:root {
    --font-family-helvetica: Helvetica;
    --bg-purple-1: #40407a;
    --font-white: #FFF;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-family-helvetica);
    background-color: #001829;
    color: var(--font-white);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

/* Navegacion */

.navegacion {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.title-h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
    transition: all 210ms ease-in-out 100ms;
    cursor: pointer;
}

.navegacion-opciones {
    display: flex;
    justify-items: space-around;
    gap: 4rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-opciones > li {
    cursor: pointer;
    transition: all 210ms ease-in-out 100ms;
    padding: 0.5rem;
}

.navegacion-opciones > li:hover, .title-h1:hover {
    cursor: pointer;
    transform: scale(1.25);
    background-color: #FFF;
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
}

/* Main Content */

.main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.text-p {
    text-align: justify;
    font-size: 2rem;
    padding: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

/* Main description */

.title-h3 {
    font-size: 2.2rem;
    text-align: center;
}

/* Text Area */


/* Buttons */

.btn {
    padding: 1.2rem;
    font-size: 2rem;
}

/* Media Queries*/

@media only screen and (max-width: 1000px) {
    .navegacion {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 1.5rem;
    }

    .navegacion-opciones {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    

}

.result-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}